[data-theme=yellow] {
    color: #f8ff90;
}

[data-theme=yellow] .navbar {
    color: #e1e1ff !important;
    background-color: $warning  !important;
}

[data-theme=yellow] .btn {

    background-color: $warning;
    border-color: #fff41d;
}

[data-theme=yellow] .card {
    background-color: $warning  !important;
    color: $dark;
}

[data-theme=yellow] .card-header .text-primary {
    background-color: $warning  !important;
    color: $white  !important;
}


[data-theme="yellow"] .form {
    color: #f8ff90 !important;
    background-color: #222 !important;
}

[data-theme="yellow"] .form-control {
    color: $warning  !important;
    background-color: #f8ff90 !important;
}


[data-theme="yellow"] .offcanvas {
    color: $warning  !important;
    background-color: #f8ff90 !important;
}